* {
    box-sizing: border-box;  
    
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(/src/photos/background.jpeg);
    margin: auto;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: cursive;
    background-color: blue;
    background-position: 0%;
    justify-content: space-between;
}