* {
    box-sizing: border-box;  
    
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
