body {
  margin: 0;
  font-family:fantasy;
  /* background-image: url(./photos/background.jpeg); */
  background: linear-gradient(to right, #ba9570, #c8c8c8, #68a868);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

