* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

.text_box {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    padding: 2px 4px; 
    display: inline-block;
    border-color: black;
    border-width: 3mm; 
    border-radius:10px;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 24px; 
    color: black; 
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    max-width: fit-content;
}

.text_box h2 {
  font-weight: bold;
}

.text_box h3 {
  font-weight: bold;
}

.text_box2 {
  padding: 2px 4px; 
  display: inline-block;
  border-color: black;
  border-width: 3mm; 
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-size: 30px; 
  color: black; 
  justify-content: center;
  align-items: center;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 40px;
}





.member-container {
    /* display: flex; */
    align-items: center;
    margin-bottom: 80px;
    /* background: radial-gradient( #f5f5dc, #ffe3cc); */
    border-radius: 5px;
    display: inline-block; 
    max-width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     */
  }
  
  .member-image {
    margin-top: 1rem;
    /* display: flex; */
    /* align-items: center; */
    width:375px;
    height: 375px;
    object-fit:cover;
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    border-width:3mm;
  }
  
  .member-bio {
    flex-grow: 1;
    font-size: 24px;
    min-width:fit-content;
  }

  @media (max-width: 600px) {
    .member-container {
      flex-direction: column;
      align-items: start;
    }
  
    .member-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .member-bio {
      flex-grow: 0;
    }
  }




.full-album-link {
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #007bff;
  color:   whitesmoke;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 0.2s; 
  padding: 8px 15px;
  text-decoration: none;
}

.full-album-link:hover {
  transform: scale(1.1); 
  background-color: #0056b3;
}

.rounded-image {
  border-radius: 50%;
  object-fit:fill;
  max-height: 40px;
  max-width: 40px; 
  margin: 0px 20px  0px 20px ;
}