* {
      box-sizing: border-box;
  }
  
  body {
      margin: 0;
      
  }
  
  .text_box {
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      padding: 2px 4px; 
      display: inline-block;
      border-color: black;
      border-width: 3mm; 
      border-radius:10px;
      margin-top: 20px;
      margin-bottom: 20px; 
      font-size: 24px; 
      color: black; 
      justify-content: center;
      align-items: center;
      font-weight: lighter;
      max-width: fit-content;
  }
  
  .text_box h2 {
    font-weight: bold;
  }
  
  .text_box h3 {
    font-weight: bold;
  }
  
  .text_box2 {
    padding: 2px 4px; 
    display: inline-block;
    border-color: black;
    border-width: 3mm; 
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 30px; 
    color: black; 
    justify-content: center;
    align-items: center;
    }
  
  .title {
      color: black;
      font-weight: bold;
      font-size: 56px;
  }

  


.card {
      margin-bottom: 40px;
      padding: 20px;
      border: 2px solid #000;
      background-color: #FFFFFF;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: relative;            
      transition: transform 0.3s, box-shadow 0.3s;
}