body {
  margin: 0;
  font-family: cursive;
  background-image: url(./photos/background.jpeg);
  /* background: linear-gradient(to right, #BFCBC2, #A6A6A6, #8C8C8C); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

