* {
    box-sizing: border-box;
    font-weight: bold;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
    max-width: 80rem;
}

.nav {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    
    gap: 1rem;
    padding: 0 1rem;
    font-weight: 400;
    border-radius: 0px 0px 5px 5px;
    text-rendering: auto;
}

.site-title {
    font-size: 3rem;
    min-width: 20rem;
    justify-content: left;
}

.rounded-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
  

.nav u1 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}
